################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
__vm

[Bb]in
[Dd]ebug*/
[Rr]elease*/

*.json
*.filters
*.user
arduino folders read me.txt
